[core]
	excludesfile = /Users/holly/.gitignore_global
	editor = '/Applications/Sublime Text 2.app/Contents/SharedSupport/bin/subl' -n -w
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/hv/g0xx_jvx7739b0l39w40697m0000gp/T/AppTranslocation/88DD959A-A44B-4443-99E2-C2B1AB24DFAE/d/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = CodergirlHolly
	email = hollyschroeder314@gmail.com
[commit]
	template = /Users/holly/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[credential]
	helper = osxkeychain
